@model IEnumerable<ArticleViewModel>

@if (Model != null && Model.Count() > 0)
{
    <div id="articleIndex" class="text-center mt-5">
        @foreach (var i in Model)
        {
            <h3 class="display-4">
                <a href="~/Article/@i.Id">@i.Title</a>
            </h3>
        }
    </div>
}