.Content {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 480px) {
    .Content {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    p {
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media (max-width: 480px) {
    .image img {
        width: 100% !important;
    }
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}