/*@media (max-width: 480px) {
    figure {
        width: 100% !important;
    }
}

@media (min-width: 480px) {
    figure {
        width: 50% !important;
    }
}*/

@media (max-width: 480px) {
    .image img {
        width: 100% !important;
    }
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}