@section Styles {
<style>
    .ck-editor__editable {
        min-height: 500px;
    }
</style>
}

<form asp-controller="Article" asp-action="CreateArticle" method="post">
    <div class="form-group" style="">

        <textarea name="Content" class="form-control" id="editor" rows="50"></textarea>

    </div>
    <button type="submit">Send</button>
</form>

    @section Scripts {

<script src="~/ckeditor7/build/ckeditor.js"></script>
<script>
    // ckEdit 5
    ClassicEditor
        .create(document.querySelector('#editor'), {
            removePlugins: [ 'ImageResize' ,'ImageStyle' ,'ImageToolbar' ],
            ckfinder: {
                uploadUrl: '/Article/Uploads'
            }
        })
        .catch(error => {
            console.error(error);
        });
</script>
}

