@model ArticleViewModel
@section styles {
  <link rel="stylesheet" href="~/css/article.css?@DateTime.Now.ToString("yyyyMMddhhmmss")">
}

<div class="Content mb-2">
    <h1 class="text-center display-4 mb-5">@Model.Title</h1>
    @Html.Raw(Model.ArticleContent)
</div>

