<form asp-controller="Home" asp-action="PostContent" method="post">
@*    <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor 4.
    </textarea>*@
    <div class="form-group">

    <textarea name="Content" class="form-control" id="editor"></textarea>

</div>
<button type="submit">Send</button>
</form>


@section Scripts {
@*<script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>*@
<script src="~/ckeditor6/build/ckeditor.js"></script>
<script>
    // ckEdit 5
        ClassicEditor
        .create( document.querySelector( '#editor' ) , {
            ckfinder: {
                uploadUrl: '/Article/Uploads?command=QuickUpload&type=Files&responseType=json'
                }
            })
        .catch( error => {
            console.error( error );
        });




            // Replace the <textarea id="editor1"> with a CKEditor 4
            // instance, using default configuration.
    //        CKEDITOR.env.isCompatible = true;
    //        CKEDITOR.replace( 'editor1', {
    //  extraPlugins: 'imageuploader'
    //});
    //        CKEDITOR.replace( 'editor1' );


    //CKEDITOR.replace('editor1',{
    //    removeDialogTabs:'image:advanced;image:Link;link:advanced;link:upload',
    //    filebrowserImageUploadUrl :'/Home/Uploads'
    //});


    //CKEDITOR.editorConfig = function (config) {
    //    config.removeDialogTabs = 'image:advanced;image:Link;link:advanced;link:upload';
    //    config.filebrowserImageUploadUrl = '/Home/Uploads' //Action for Uploding image
    //};
</script>
}

