@model IEnumerable<ArticleViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-2">
    <h1 class="display-4">Welcome</h1>
</div>
<hr/>
@if (Model != null && Model.Count() > 0)
{
    <div id="articleIndex" class="text-center mt-5">
        @foreach (var item in Model)
        {
            <h3 class="display-4">
                <a href="~/Article/@item.Id">@item.Title</a>
            </h3>
        }
    </div>
}
<div class="text-center">
    <button id="getArticles" type="button">更多文章</button>
</div>


<div class="text-center">
    <form asp-controller="Home" asp-action="blockchain" method="post">
        <button type="submit">test</button>
    </form>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
   
    <script>
        $("#getArticles").click(function(){
            $.ajax({
              type: 'Post',
              url: "/Article/GetMoreArticle",
              //dataType: "json",
               success: function(data){
                   console.log(data)
                  for(let i =0;i< data.length;i++)
                  {
                        $('#articleIndex').append(`
                            <h3 class="display-4">
                                <a href=/Article/${data[i].id}>${data[i].title}</a>
                            </h3>
                        `);
                  }
                },
                error: function(data){
                       console.log(data)
                }
            });
        });
    </script>

    <script>
        shareUrl = function() {
            if (!navigator.share) return;

            navigator.share({
                url: "https://mywebsite.com",
                title: "Sharing Cool things",
                text: "Checkout my really cool website."
            })
                .then(() => { console.log("Shared YEEEE!!!!!"); })
                .catch((error) => { console.log("Sharing Failed") });
        }
    </script>
}
